.App {
  font-family: sans-serif;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  padding: 0 1.4em;
  display: inline-block;
}

.pagination li.active {
  outline: 1px solid #000;
}