.App {
  font-family: sans-serif;
  text-align: center;
}
header{
  margin: 10px 0;
}
header h1{
  font-size: 14px;
}

.column1 {
  float: left;
  width: 20%;
  text-align: left;
}

.column2 {
  float: left;
  width: 80%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  padding: 0 1.4em;
  display: inline-block;
}

.pagination li.active {
  outline: 1px solid #000;
}
