.App {
  font-family: sans-serif;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
